{% extends 'account/generic_account_template.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/indicators.css' %}">
{% endblock %}


{% block page_title %}
Показатели
{% endblock %}


{% block content %}

<div class="table-responsive">
	<table>
		<thead>
			<tr>
				<th>Горячая вода</th>
				<th>Холодная вода</th>
				<th>Дневной период</th>
				<th>Ночной период</th>
				<th class="larger-box">Адрес по счётчику</th>
			</tr>
		</thead>
		<tbody>
            {% for indicator in parameters %}
			<tr>
				<td>{{ indicator.parameters.0 }}</a></td>
				<td>{{ indicator.parameters.1 }}</a></td>
				<td>{{ indicator.parameters.2 }}</a></td>
				<td>{{ indicator.parameters.3 }}</a></td>
				<td>{{indicator.parameters.1.address.town}}, {{indicator.parameters.1.address.street}}, {{indicator.parameters.1.address.house}}, {{indicator.parameters.1.address.apartment}}</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>
<div class="container">
	
	<form class="form" id="b-form" method="POST" action="{% url 'indicators' %}" style="width: 100%;height: 100%;">
		<h3 style="text-align: center;">Адрес объекта</h3>
		{% csrf_token %}
		<input class="form__input" type="text" name="town" required placeholder="Город">
		<input class="form__input" type="text" name="street" required placeholder="Улица">
		<input class="form__input" type="text" name="house" required placeholder="Номер дома">
		<input class="form__input" type="text" name="apartment" required placeholder="Номер квартиры">
		<h3 style="text-align: center;">Показатели</h3>

		<input class="form__input" type="text" name="INDICATORS_HOT_WATER" required placeholder="Горячая вода">
		<input class="form__input" type="text" name="INDICATORS_COLD_WATER" required placeholder="Холодная вода">
		<input class="form__input" type="text" name="INDICATORS_LIGHT_DAY" required placeholder="Свет (Дневной период)">
		<input class="form__input" type="text" name="INDICATORS_LIGHT_NIGHT" required placeholder="Свет (Ночной период)">

		<button class="form__button button" type="submit">Отправить</button>


	</form>

</div>

{% endblock %}

{% block scripts_footer %}

{% endblock %}
