{% extends 'account/generic_account_template.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_title %}
Редактирование профиля
{% endblock %}

{% block content %}

<div class="container">
  <form class="form" id="b-form" method="POST" action="." style="width: 100%;height: 100%;">

    {% csrf_token %}
    <input class="form__input" type="text" placeholder="Имя" name="first_name" value="{{user.first_name|default_if_none:''}}">
    <input class="form__input" type="text" placeholder="Фамилия" name="second_name" value="{{user.second_name|default_if_none:''}}">
    <input class="form__input" type="text" placeholder="Отчество" name="patronymic" value="{{user.patronymic|default_if_none:''}}">
    <input class="form__input" type="text" placeholder="Почта" name="email" value="{{user.email|default_if_none:''}}">
    <input class="form__input" type="text" placeholder="Номер телефона" name="phone" value="{{user.phone|default_if_none:''}}">
    <button class="form__button button" type="submit">Сохранить</button>
  </form>
</div>

{% endblock %}


{% block scripts_footer %}

{% endblock %}