<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% block scripts_header %}

    {% endblock %}

    {% block style %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    {% include "registration/include/header.html" %}

    {% block content %}
    
    {% endblock %}

    {% include "registration/include/footer.html" %}

    {% block scripts_footer %}

    {% endblock %}
</body>
</html>